In [7]:
# 연습 문제

def to_celsius(x):
    
    return (x-32)*5/9

print("반환 값:", to_celsius(70))

반환 값: 21.11111111111111

In [3]:
# 풀이

def to_celsius(fahrenheit):
    
    return (fathrenheit - 32) * 5/9

In [4]:
print(to_celsius(70))

NameError: name 'fathrenheit' is not defined

In [9]:
# 연습 문제

def odd_even(number) :

    """
    <number가 짝수면 "짝수", 홀수면 "홀수" 반환>
    작성자 : 진진
    작성일자 : 2023.02.21
    
    """
   
    if type(number) != int or number <= 0 :
        return
    
    elif number % 2 == 0 :
        return "짝수"
        
    else :
        return "홀수"



print(odd_even.__doc__)
print(odd_even(10))
print(odd_even(9))
print(odd_even("가"))

    <number가 짝수면 "짝수", 홀수면 "홀수" 반환>
    작성자 : 진진
    작성일자 : 2023.02.21


짝수
홀수
None

In [10]:
# 풀이

def odd_even(number) :

    """
    <number가 짝수면 "짝수", 홀수면 "홀수" 반환>
    작성자 : 진진
    작성일자 : 2023.02.21
    
    """
   
    if type(number) is int and number > 0 :
        return "짝수" * (number % 2 == 0) or "홀수"
                     # True == 1 -> 짝수   // dict[1] == dict[True]
                     # True or ~~  : or 의 앞이 트루면 뒤에 상관없쓤
    else :
        return 



print(odd_even.__doc__)
print(odd_even(10))
print(odd_even(9))
print(odd_even("가"))

    <number가 짝수면 "짝수", 홀수면 "홀수" 반환>
    작성자 : 진진
    작성일자 : 2023.02.21


짝수
홀수
None

In [ ]:
# 강사님 추가 Pt자료 추가 예제

In [25]:
n = input("숫자를 입력")

숫자를 입력 10.1

In [26]:
type(n)

str

In [27]:
n

'10.1'

In [28]:
n.isdecimal()   # 숫자로 변환 가능하면 True
 # 10은 True   / 10.1 은 false  변환가능하게 하려면 int(float(n))

False

In [29]:
def to_int(n):
    if n.isdecimal():
        return int(n)
    return

In [31]:
print(to_int(n))

None

In [ ]:
#

def is_leap_year(year):
    """
    입력된 연도가 윤년인지 아닌지를 판별하여 문자열을 반환하는 함수

    Args:
        year (int): 연도 값

    Returns:
        str: 윤년이면 "윤년", 평년이면 "평년"
    """
    if year % 400 == 0:
        return "윤년"
    elif year % 100 == 0:
        return "평년"
    elif year % 4 == 0:
        return "윤년"
    else:
        return "평년"
    
print(is_leap_year(2004))
print(is_leap_year(2000))
print(is_leap_year(1900))

In [52]:
# 연습문제

def check_leap_year(n) :
    
    if n %4 ==0 and (n % 100 != 0 or n % 400 == 0) :
        return "윤년"
    
    else:
        return "평년"
    
    

print(check_leap_year(2004))
print(check_leap_year(2000))
print(check_leap_year(1900))

윤년
윤년
평년

In [59]:
# 연습 문제

def days(m) :
    if m in (1,3,5,7,8,10,12) :
        return "31"
    elif m in (4,6,9,11) :
        return "30"
    elif m == 2 :
        return "28"
    else :
        return "존재하지 않는 달입니다."


print(days(11))
print(days(2))
print(days(1))
print(days(20))

30
28
31
존재하지 않는 달입니다.

In [75]:
# 연습 문제

def check_leap_year(y) :
    
    if y %4 ==0 and (y % 100 != 0 or y % 400 == 0) :
        return "윤년"
    
    else:
        return "평년"
    
def days(y,m) :
    if m in (1,3,5,7,8,10,12) :
        return "31"
    elif m in (4,6,9,11) :
        return "30"
    elif m == 2 :
        if check_leap_year(y)=="윤년" : 
            return "29"
        else :
            return "28"
    else :
        return "존재하지 않는 달입니다."


print(days(1900, 11))
print(days(2004, 10))
print(days(1900, 2))
print(days(2000, 2))
print(days(2000, 13))

30
31
28
29
존재하지 않는 달입니다.

In [76]:
# 풀이

def days(y,m) :
    if m in (1,3,5,7,8,10,12) :
        return 31
    elif m in (4,6,9,11) :
        return 30
    elif y %4 ==0 and (y % 100 != 0 or y % 400 == 0) :
        return 29
    else :
        return 28

print(days(1900, 11))
print(days(2004, 10))
print(days(1900, 2))
print(days(2000, 2))

30
31
28
29

In [ ]:
# <변수의 범위(variable scope) - 전역 변수 (global variable)>

In [ ]:
# <변수의 범위(variable scope) - 지역 변수 (local variable)>

In [79]:
# <변수의 범위(variable scope) - 지역 범위에서 전역 변수 할당하기>

global_variable = "변경이 됩니까?"

def heartbreaker() :
    global global_variable
    global_variable = "global 키워드 활용해서 변경 완료"
    
heartbreaker()
print(global_variable)

global 키워드 활용해서 변경 완료

In [80]:
# 함수 바디에 함수를 중첩해서 만들기

def level1() :
    message = "This is level 1."
    def level2() :
        print(message)
    level2()

In [81]:
level1()

This is level 1.

In [11]:
# 안쪽 함수에서 바깥쪽 함수의 변수 변경해보기

def level1() :
    message = "This is level 1."
    def level2() :
        message = "Level2 is better than level1."
    level2()  
    print(message)

level1()

This is level 1.

In [14]:
# 안쪽 함수에서 바깥쪽 함수의 변수 변경해보기
# 변경 가능할까요?! 넹~~!!

def level1() :
    message = "This is level 1."
    def level2() :
        nonlocal message   # nonlocal 키워드를 통해 바깥 영역의 변수를 사용하겠다고 설정
        message = "Level2 is better than level1."
    level2()
    print(message)
    
level1()

Level2 is better than level1.

In [ ]:
<변수 범위 정리>
- 함수 안에서 선언한 변수는 함수를 호출해 실행되는 동안만 사용할 수 있습니다.

좁은범위부터 넓은 범위 거기도 없으면 파이썬 내부의  빌트 인 스코프( 를 찾는다.

In [ ]:
# 람다(Lambda)

lambda [parameters] : expression   # 람다 표현식


def func_name(parameter) :         # 일반 함수 정의절
    return expression

In [18]:
# 람다(Lambda)

                # (arguments)
(lambda x : x + 10)(10)

# (lambda [parameters] : expression)(arguments)

20

In [20]:
# 람다는 기본적으로 이름없는 함수(anonymous function)

        # 객체
twice = (lambda x : x*2)
print(twice(10))

# variable = lambda [parameters] : expression
# variable(argument)

20

In [22]:
# 람다의 expression부분은 변수 없이 식 한 줄로 표현 가능(인라인)해야 합니다.
# 따라서 람다 표현식 안에 새 변수를 만들 수 없습니다.
# 변수가 필요한 경우는 def를 써서 함수를 정의해서 사용하는 것이 좋습니다.
          
         # 콜론 오른쪽에 변수 생성이 안된다.
(lambda x : y = 10; x + y)(1)
         # 콜론을 기준으로 왼쪽이 prarmeters가 오고 오른쪽이 expression이 와야되는데

SyntaxError: invalid syntax (1952916057.py, line 5)

In [ ]:
# < 조건 표현식(Conditional Expression). inline if else >
# if else를 한줄로 작성할 수 있는 방법.
# lambda에 사용하면 활용도가 아주 좋음.
# if만 사용할 수 없음. 반드시 else와 같이 써야함.
# 중첩해서 사용 가능함.

True일 때 값 if 조건식 else False 일때 값

In [23]:
score = 90
'A' if 90 < score <= 100 else 'B' if 80 < score else 'C'

'B'

In [ ]:
람다(Lambda) feat. map()

map(lambda parameter1, parameter2, ... : expression, iterable1, iterable2, ...)

In [24]:
a = [_ for _ in range(1, 6)]
b = [_ for _ in range(2, 11, 2)]
print(list(map(lambda x, y : x * y, a, b)))

# 카톡 사진

[2, 8, 18, 32, 50]

In [ ]:
람다(Lambda) feat. filter()
속도와 가독성 모두 리스트 컴프리헨션이 더 낫다.

                    # True 일 때만 해당 요소를 가져옵니다.
map(lambda parameter : expression, iterable)

In [25]:
a = [3, 2, 8, 22, 10, 7, 0, 11, 9, 9]
list(filter(lambda x : x % 3 == 0 and 0 < x < 10, a))

# 리스트컴프리헨션이 훨씬 더 빠르다~~~~~

[3, 9, 9]